.movebutton{
    margin-top: 3%;
    margin-right: 5%;
    float: right;
    padding: 2%;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    -ms-transition: All 1s ease;
    
    
    
    /* border*/
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 20px;
    
    color: white;
    background-color: darkgrey;
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none; 
}


.movebutton:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

