#main{
    min-height: 100vh;
}



#container{
    background-color: white;
    min-height: 70vh;
    width: 70vw;
    border-radius: 10px;
    float: right;
    padding:2%;

    margin-top: 2%;
    margin-right: 15vw;
}
form{
    margin-top: 4%;
    
    
}

input{
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
    margin-right: 4%;
    font-size: 20;
}
#cercabutton{
    margin-top: 3%;
    margin-right: 10%;
    float: right;
    padding: 2%;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    -ms-transition: All 1s ease;
    
    
    
    /* border*/
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 20px;
    
    color: white;
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none; 
}
#cercabutton:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}


#content{
    width: 100%;
    display: inline-block;
    margin-top: 3%;
}

#cerca{ 
    width: 100%;
    background-color: white;
    min-height: 70vh;
    padding: 2%;
    margin-left: 2%
    
}

