#main{
    min-height: 100vh;
}



#container{
    background-color: white;
    min-height: 70vh;
    width: 70vw;
    border-radius: 10px;
    float: right;
    padding:2%;
    margin-right: 15vw;
}

#content{
    width: 100%;
    display: inline-block;
    margin-top: 3%;
}

#cerca{ 
    width: 100%;
    background-color: white;
    min-height: 70vh;
    padding: 2%;
    margin-left: 2%
    
}

